services:
  api:
    build: .
    container_name: userscrm-api
    ports:
      - '3000:3000'
    env_file:
      - .env.docker
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: userscrm-mongo
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
